<div id="fileManager">
  <div id="sideBar">
    <h1> FILEMANAGER</h1>
    <a href="/delete/?id=all" <u> Usun dane o plikach z tabeli </u></a>
  </div>
  <div>
    <p> <h2> id: </h2> {{filesArr.id}} </p>
    <p> <h2>name:</h2> {{filesArr.name}} </p>
    <p> <h2>size: </h2>{{filesArr.size}} </p>
    <p><h2> path:</h2> {{filesArr.path}} </p>
    <p><h2>type:</h2> {{filesArr.type}} </p>
    <p><h2> savedate:</h2> {{filesArr.savedate}} </p>
  </div>
</div>